/* ========================= */
/* NAVBAR CONTAINER */
/* ========================= */

.custom-navbar {
  background: rgb(254, 254, 254);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
  padding: 12px 0;
  transition: all 0.3s ease;
}

/* Smooth dropdown animation */
.custom-collapse {
  max-height: 0;
  overflow: hidden;

  opacity: 0;

}

/* When open */
.custom-collapse.open {
  max-height: 500px;
  /* enough to show all links */
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease;
}

/* ========================= */
/* BRAND */
/* ========================= */

.brand-text {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Poppins", "Segoe UI", sans-serif;
}

.brand-blue {
  color: #15367f;
}

.brand-orange {
  color: #ff6a00;
}

.brand-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-img {
  height: 40px;
}

.logo-img {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

/* ========================= */
/* NAV LINKS */
/* ========================= */

.nav-links .nav-link {
  font-weight: 500;
  margin-right: 15px;
  color: #333 !important;
  transition: all 0.3s ease;
}

.nav-links .nav-link:hover {
  color: #667eea !important;
  transform: translateY(-1px);
}

/* ========================= */
/* USER INFO */
/* ========================= */

.user-info {
  font-weight: 500;
  color: #555;
}

/* ========================= */
/* LOGIN LINK */
/* ========================= */

.login-link {
  font-weight: 500;
  color: #333 !important;
}

.login-link:hover {
  color: #667eea !important;
}

/* ========================= */
/* REGISTER BUTTON */
/* ========================= */

.register-btn {
  background: linear-gradient(90deg, #667eea, #764ba2);
  border: none;
  border-radius: 12px;
  padding: 6px 14px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.register-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(102, 126, 234, 0.4);
}

/* ========================= */
/* LOGOUT BUTTON */
/* ========================= */

.logout-btn {
  background-color: transparent;
  color: #fb710e;
  border: 2px solid rgb(253 110 9);
  padding: 3px 12px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(70, 69, 69, 0.4);
}


/* Apply animation ONLY on mobile */
@media (max-width: 991px) {
  .custom-collapse {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
  }

  .custom-collapse.open {
    max-height: 500px;
    opacity: 1;
  }
}

/* On large screens → always visible */
@media (min-width: 992px) {
  .custom-collapse {
    max-height: none !important;
    opacity: 1 !important;
    overflow: visible !important;
  }
}